
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root
{
    --ff-text: "DM Sans", sans-serif;
    --primary-color-500:#673de6;
    --primary-color-600:#2f1c6a;
    --primary-color-700:#1f1346;
    --primary-color-100:#fafbff;
    
}


*{
    box-sizing: border-box;
    font-family: "DM Sans, sans serif";
    margin: 0;
    padding: 0;
} 

.main-hero-left
{
display: flex;
flex-direction: column;
width: 800px;
background-color: #fafbff;
}

.main-hero-right
{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    max-width: 682px;

}

.icon
{
width: 30px;
border-radius: 5px;
background-color: var(--primary-color-500);
}

.reviews-section
{
display: flex;
background-color: #1f1346;
color: #fafbff;
flex-direction: column;
align-items: center;
max-width: 682;
align-items: center;
padding: 0 40px;
gap: 15px;

}
.reviews-card
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: #fafbff;

}

.article-card-one
{
    background-color: #2f1c6a;
    display: flex;
    flex-direction: colum;
    justify-content: center;

}

.article-card-two
{
    background-color: #2f1c6a;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.article-card-three
{
    background-color: #2f1c6a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-button
{
margin: 20px;
padding: 20px;
display: flex;
justify-content: center;

}

.button-hero
{

padding: 12px 48px;
display: flex;
justify-content: center;

}

